
</div>
<div class="footer footer-background ">
  <p>Copyright 2021 by Rico Ngo</p>
</div>
</div>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<script src="https://kit.fontawesome.com/e420c711d8.js" crossorigin="anonymous"></script>
</body>
</html>
