<!-- EJS Header -->
<head>
  <title>Blogs of Rico Ngo</title>
</head
<%- include("partials/header") -%> 

<!-- Main content -->

<div class="container col-xl-10 col-xxl-9 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-5 text-center text-lg-start">
        <h1 class="display-5 fw-bold lh-1 mb-3">Sign up for my product blogs.</h1> 
        <h3 class="display-8 mb-3"><span class="text-muted">This page is under construction.</span></h3>
        <p><%= firstParagraph %></p>
      </div>
      <div class="mx-auto col-lg-6">
        <form action="/blogs" method="POST" class="p-5 border rounded-3 bg-light">
          <h1 class="display-8 lh-1 mb-3">Sign up here</h1> 
            <div class="mb-3">
              <label for="floatingInput">Your first name</label>
                <input type="text" class="form-control" name="fName" required>
              </div>
              <div class="mb-3">
                <label for="floatingInput">Your last name</label>
                <input type="text" class="form-control" name="lName" required>
              </div>
          <div class="mb-3">
            <label for="floatingInput">Your email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <button type="submit" class="btn btn-primary button-color">Submit</button>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

<!-- Grid overview what you can find here -->

<section class="page-section-background">
<div class="container py-5" id="icon-grid">
    <h2 class="display-6 fw-bold lh-1 mb-3 text-center border-bottom">Product topics you will find here</h2>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Building a MVP</h4>
          <p>How to gather and determine your MVP requirements and how to build it.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
        <div>
          <h4 class="fw-bold mb-0">PM & PO</h4>
          <p>The difference between PM & PO and how they can work effectively together.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Working with design</h4>
          <p>Designers are part of your product team, but how do you ensure that you're aligned on the expectations.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Roadmap setup</h4>
          <p>How to setup your roadmap and communicate it with your stakeholders</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Customer insight</h4>
          <p>Customers usually tell you what they want, but it might not what they need. Find out the problem and then the soltuion.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Working with devs</h4>
          <p>Knowing your development team is crucial for building a great product. How do you cooperate & communicate what needs to be build.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Marketing & pricing</h4>
          <p>Having a great product is not enough, marketing and pricing need to be right as well for it to succeed.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
        <div>
          <h4 class="fw-bold mb-0">PM process</h4>
          <p>To build the right products, you need a product management process in place to ensure that. There are several ways to achieve that.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- EJS Footer -->
<%- include("partials/footer") -%> 