<!-- EJS Header -->
<%- include("partials/header") -%> 

<!-- Main content -->

<h1>My Product Management blogs</h1>
<p><%= firstParagraph %> </p>

<!-- EJS Footer -->
<%- include("partials/footer") -%> 