<!-- EJS Header -->
<%- include("partials/header") -%> 

<!-- Main content -->

<h1>Compose</h1>

<form class="item" action="/compose" method="POST">
    
    <div>
        <label>Title</label>
        <input name="postTitleBlog" class="form-control" type="text" nplaceholder = "Write your title here" autocomplete="off" pattern=".{3,}" required title="3 characters minimum">
        <p></p>
        <label>Your post</label>
        <textarea name="postContentBlog"  class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder = "Write your post here" autocomplete="off" pattern=".{1,}" required title="1 characters minimum"></textarea>
        <p></p>
    </div>   
    <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" type="submit" name="button">Publish</button>
</form>

<!-- EJS Footer -->
<%- include("partials/footer") -%> 