<!-- EJS Header -->
<%- include("partials/header") -%>

<!-- Main headliner -->
<section id="title" class="main-background p-3 ">

  <div class="container-fluid row-full home-intro-text home-text-background">
    <h2>Welcome to my page!</h2>
    <p><%= firstParagraph %> </p>
  </div>
</section>

<!-- What can you find here -->

<section class="page-section-background">
  <div class="container py-4 " id="featured-3">
    <h2 class="pb-3 border-bottom text-center">Get to know me</h2>
    <div class="row g-5 py-4">
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Who I am</h2>
        <p>A dude that loves to travel, run, and eat delicious food. Besides being a product lead in my daily life, I am
          a student mentor and geek that tries to learn coding.</p>
        <a href="about" class="icon-link">
          More information
        </a>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>My portfolio</h2>
        <p>My career is focused on building great products from concept to MVP and transforming companies into a product
          organisation. With that expertise, I got to work on many cool products & projects.</p>
        <a href="portfolio" class="icon-link">
          More information
        </a>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Product blogs</h2>
        <p>Sharing is caring, ain't that right? For those who are interested, I like to share my challenges & knowledge
          in Product Management through blogsno. Feel free to read it!</p>
        <a href="blogs.ejs" class="icon-link">
          More information
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Impression of companies -->

<section class="page-section-background2">

  <div id="myCarousel" class="carousel slide py-4" data-bs-ride="carousel">
    <h1 class="text-center text-white pb-3">Some random facts about me</h1>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner py-3">
      <div class="carousel-item active">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption text-start">
            <h2>I really really love Vietnamese food....</h2>
            <p>The Vietnamese cuisine is so rich and diverse that I could literally eat it every day. Plus it is
              healthy! (I think)</p>
            <p><a class="btn btn-lg btn-primary"
                href="https://www.seriouseats.com/2013/01/vietnamese-dishes-foods-you-should-know-hanoi-saigon-pho-banh-mi-slideshow.html">Most
                popular viet dishes</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption">
            <h2>Not so long ago, I discover that I liked coding, from devops to frontend.</h2>
            <p>The actual reason that I want to learn coding is I wouldn't be fooled anymore by my development team
              during refinements. It's a 3, not an 8.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption text-end">
            <h2>I didn't like running, but now I do.</h2>
            <p>Wanting to stay fit during the pandemic, I decided to run and it turns out that it is really great. Hit
              me up on Strava! </p>
            <p><a class="btn btn-lg btn-warning" href="https://www.strava.com/athletes/39304026">My Strava ID</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption">
            <h2>People say I smile too much</h2>
            <p>It might look that I am smiling most of the time, but that is just my resting smiling face :) or maybe I
              am really that opportunistic and positive all the time? Who knows. </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption text-start">
            <h2>I have built this website all by myself (with the help of Google)</h2>
            <p>As a project, I wanted to build my own personal website and be more technical oriented.</p>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</section>

<!-- Contact -->

<section class="page-section-background">
  <div class="content py-5">
    <h1 class="text-center">Interested in my work or want to collaborate?</h1>
    <h2 class="pb-3 text-center">Lets get in touch and leave your message.</h2>
    <div class="container">
      <!-- <div class="elfsight-app-6b9a4b34-c60e-44c6-ba3d-0ed7302e71d9"></div>
            </div> -->
</section>


<!-- EJS Footer -->
<%- include("partials/footer") -%>