<!-- EJS Header -->
<%- include("partials/header") -%>

<!-- Main headliner -->
<section id="title" class="main-background p-3 ">

  <div class="container-fluid row-full home-intro-text home-text-background">
    <h2>Welcome to my page!</h2>
    <p><%= firstParagraph %> </p>
  </div>
</section>

<!-- What can you find here -->

<section class="">
  <div class="container py-3 " id="featured-3">
    <h1 class="pb-3 border-bottom text-center">Get to know me</h1>
    <div class="row g-5 py-4">
      <div class="feature col-md-4 px-5">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <div class="text-center">
        <i class="fas fa-child fa-7x home-icons"></i>
        <h3 class="pt-3">Who I am</h2>
        </div>
        <p>A dude that is crazy about traveling, running, and eating delicious food. Besides being a PM, I'm a student mentor and wannabe developer.</p>
        <a href="about" class="icon-link">
          More info about me
        </a>
      </div>
      <div class="feature col-md-4 px-5">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <div class="text-center">
          <i class="fas fa-clipboard-list fa-7x home-icons"></i>
          <h3 class="pt-3">My portfolio</h2>
          </div>
        <p>My career is focused on building software products, ranging from platforms to single web applications. Also, I help companies to setup their product management processes.</p>
        <a href="portfolio" class="icon-link">
          See what I have worked on
        </a>
      </div>
      <div class="feature col-md-4 px-5">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <div class="text-center">
          <i class="fas fa-edit fa-7x home-icons"></i>
          <h3 class="pt-3">Product blogs</h2>
          </div>
        <p>Sharing is caring, ain't that right? I like to share what I have learned throughout my career so that others can benefit from it. </p>
        <a href="blogs" class="icon-link">
         Sign up for my blogs!
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Impression of companies -->

<section class="page-section-background2">

  <div id="myCarousel" class="carousel slide py-4" data-bs-ride="carousel" data-interval="6000">
    <h1 class="text-center text-white pb-3 ">Some random facts about me</h1>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner py-3">
      <div class="carousel-item active">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption text-start">
            <h2>I love Vietnamese food...</h2>
            <p>It's so diverse that I could it eat every day, all day.</p>
            <p><a class="btn btn-lg btn-primary"
                href="https://www.seriouseats.com/2013/01/vietnamese-dishes-foods-you-should-know-hanoi-saigon-pho-banh-mi-slideshow.html" target="_blank">Popular viet dishes</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption">
            <h2>Not so long ago, I started to learn coding</h2>
            <p>The main reason that I want to learn coding is that I wouldn't be fooled anymore by my dev team
              during refinements. It's a 3, not an 8.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption text-end">
            <h2>Running is quite fun</h2>
            <p>Wanting to stay fit during the pandemic, I decided to run and it turns out that it's awesome</p>
            <p><a class="btn btn-lg btn-warning" href="https://www.strava.com/athletes/39304026" target="_blank">Add me on Strava</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption">
            <h2>People say I smile too much</h2>
            <p>It might look that I am smiling most of the time, but that is just my resting smiling face :)</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

        <div class="container">
          <div class="carousel-caption text-start">
            <h2>I've built this website myself. </h2>
            <p>As a project, I wanted to learn coding and be more technical orientated. A cool way to learn.</p>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</section>

<!-- Contact -->

<section class="page-section-background">
  <div class="content py-5">
    <h1 class="text-center">Interested in my work or what I could do for you?</h1>
    <h2 class="pb-3 text-center">Lets get in touch and leave a message.</h2>
    <div class="container text-center contact-form">
      <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
        <div class="mb-3 text-start">
          <label class="pb-2" for="floatingInput"> Your email address</label>
          <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
        </div>
        <div class="mb-3 text-start">
          <label class="form-label" id="floatingInput">Your message</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
        </div>
        <button class="w-50 btn btn-lg btn-primary page-section-background2" type="submit">Send it!</button>
      </form>

      <!-- <div class="elfsight-app-6b9a4b34-c60e-44c6-ba3d-0ed7302e71d9"></div>
            </div> -->

</section>

<!-- EJS Footer -->
<%- include("partials/footer") -%>