<!-- EJS Header -->
<%- include("partials/header") -%> 

<!-- Main content -->

<section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-7 col-md-8 mx-auto">
        <h1 class="fw-bold">My Portfolio</h1>
        <p class="text-muted"><%= firstParagraph %></p>
        <p>
          <a href="contact" class="btn btn-primary my-2">Contact me</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-1 pb-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-barrier.png" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >
            <div class="card-body">
                <h3>Barrier Management application</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-secondary">WEB APP</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/barriermanagement"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-bowtie1.png" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Risk Bowtie integration</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-info">INTEGRATION</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/riskbowtie"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a>                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-woov.png" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Live Music platform</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-warning">B2C</span> <span class="badge bg-success">MOBILE</span> <span class="badge bg-secondary">WEB APP</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/livemusicplatform"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-woovadyen.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Digital Payment integration</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-warning">B2C</span> <span class="badge bg-info">INTEGRATION</span> 
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/digitalpayment"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-musicright.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Music Rights tool</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-info">INTEGRATION</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/musicrighttool"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-companywebcast.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Webcast platform</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-warning">B2C</span> <span class="badge bg-secondary">WEB APP</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/webcastplatform"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-selfservice.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Self-Service studio</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-secondary">PRODUCT</span> <span class="badge bg-secondary">SERVICE</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/selfservice"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- EJS Footer -->
<%- include("partials/footer") -%> 