<!-- EJS Header -->
<head>
  <title>Portfolio of Rico Ngo</title>
</head
<%- include("partials/header") -%> 

<!-- Main content -->

<section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-7 col-md-8 mx-auto">
        <h1 class="fw-bold">My Portfolio</h1>
        <p class="text-muted"><%= firstParagraph %></p>
        <p>
          <a href="contact" class="btn btn-primary my-2">Contact me</a>
        </p>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="/images/rico-presenting.jpeg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-1 pb-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" >
            <img src="/images/portfolio-barrier1.png" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >
            <div class="card-body">
                <h3>Barrier Management application</h3>
              <p class="card-text">The best-in-class Process Safety Management software tool used by ExxonMobil, Shell, and BP. My team and I built this product from concept to MVP.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-secondary">WEB APP</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/barriermanagement"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-bowtie1.png" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Risk Bowtie integration</h3>
              <p class="card-text">Enhancing Critical Scenarios visualizations with real-time data through Barrier Vision. The integration was so successful that the company got acquired by us.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-info">INTEGRATION</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/riskbowtie"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a>                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-woov.png" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Live Music platform</h3>
              <p class="card-text">A platform that enable artists to stream and connect with their audience through virtual events. Transformed a live event app to a live music platform due to the pandemic.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-warning">B2C</span> <span class="badge bg-success">MOBILE</span> <span class="badge bg-secondary">WEB APP</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/livemusicplatform"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-woovadyen.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Digital Payment integration</h3>
              <p class="card-text">Integrated Adyen payment ecosystem onto our platform, where we have enabled paywall events and wallet setup. Artists and our partners could be paid out directly through the platform.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-warning">B2C</span> <span class="badge bg-info">INTEGRATION</span> 
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/digitalpayment"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-musicright.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Music Rights tool</h3>
              <p class="card-text">To adhere to Music Rights, the platform could identify tracks being played on our platform and calculate royalties to be paid out to Music Right organisations. An unique proposition and tool realized with DJ Monitor/Mix Clear.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-info">INTEGRATION</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/musicrighttool"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-companywebcast.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Webcast platform</h3>
              <p class="card-text">My current challenge is working on a state-of-the-art webcast platform with low latency and live interactions with the audience. We help our clients to reach their audience effectively and provide useful data insights.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-warning">B2C</span> <span class="badge bg-secondary">WEB APP</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/webcastplatform"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/portfolio-selfservice.PNG" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" >

            <div class="card-body">
                <h3>Self-Service studio</h3>
              <p class="card-text">Current challenge to setup a new self-service concept for our clients, where we focus on our customer's success. Advising & supporting our clients to reach their webcast goals with a scalable webcast studio and services.</p>
              <span class="badge bg-primary">B2B</span> <span class="badge bg-secondary">PRODUCT</span> <span class="badge bg-secondary">SERVICE</span>
              <div class="d-flex justify-content-between align-items-center py-3">
                <div class="btn-group">
                  <a href="/portfolio/selfservice"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="page-section-background">
    <div class="content py-5">
      <h1 class="text-center">Interested in my work or what I could do for you?</h1>
      <h2 class="pb-3 text-center">Lets get in touch and leave a message.</h2>
      <div class="container text-center contact-form">
        <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
          <div class="mb-3 text-start">
            <label class="pb-2" for="floatingInput"> Your email address</label>
            <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
          </div>
          <div class="mb-3 text-start">
            <label class="form-label" id="floatingInput">Your message</label>
            <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
          </div>
          <button class="w-30 btn btn-lg btn-primary page-section-background2" type="submit">Send it!</button>
        </form>
  <section>  


<!-- EJS Footer -->
<%- include("partials/footer") -%> 