<!-- EJS Header -->
<%- include("partials/headerportfolio") -%> 

<!-- Main content -->
<h1> <%= title %>  </h1>
<p> <%= content %>  </p>

<!-- EJS Footer -->
<%- include("partials/footerportfolio") -%> 