html { background-color:white; } 
body {
    min-height: 100vh;
    max-width: 1350px; 
    margin: 0 auto;
    font-family: "Montserrat";
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}

.row-full{
    width: 250vw;
    margin-left: -50vw;
    left: 50%;
    max-width: 1350px;
   }

.nav-background {
    background-color:#e7e7e7;
}

.footer-background {
    background-color:#e7e7e7;
    color: black
}

.page-section-background {
    background-color: #F6F5F5;
}

.page-section-background2 {
    background-color: #276678;
    color: white;
}

.rico-logo {
  background-image: url(../images/rico-logo.png);
  background-repeat: no-repeat;
  width: 250px;
  height: 40px;
  background-size: contain;
  margin-left: 16px;
}
.refit-logo {
padding-left: 1rem;
}
/* .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
} */

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px; 
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

.navbar .navbar-collapse {
  text-align: center;
}

.footer-padding {
padding-bottom: 60px;
}

.footer {
position: fixed;
text-align: center;
display: inline-block;
vertical-align: middle;
line-height: normal;
bottom: 0;
width: 100%;
max-width: 1350px;
height: 60px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1rem;
}

.footer p {
margin-top: 25px;
font-size: 12px;
}

@media (max-width: 1028px)  {
  #title .big-heading{
      text-align: center;
  }
}

.featurette-divider2 {
  margin: 3rem 0;
}

/* Home page */
.main-background {
    background-image: url(../images/rico-background2.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 70%;
}

.home-intro-text {
  color: rgb(255, 255, 255);
  margin-left:0px;
  font-size: 1.2rem;
}

.home-text-background {
  background-color: #276678;
  opacity: 90%;
  width: 310px;
  margin: 16px;
  padding-top: 4px;
  padding-bottom:4px;
  transform: rotate(5deg);
  font-size: 1rem;
}

.contact-form {
  max-width: 720px;
}

/* About page */

.style-about-photo {
  min-width: 300px;
  max-height: 600px;
}

.center-about-photo {
  justify-content: center;
  align-items: center;
}

.about-me-text {
  position:unset;
}

.about-me-icons {
  color:#F6F5F5
}

.home-icons {
  color:#276678
}

/* Courosel CSS */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 16rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 16rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /* Features icon set - about me */
  
