<!-- EJS Header -->
<%- include("../partials/headerportfolio") -%> 

<!-- Main content -->

<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Barrier Vision</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Now also known as <a target="_blank" href="https://enablon.com/applications/barrier-visualization-soft">Barrier Management Software</a>, Barrier Vision is a process safety management tool that calculates & visualizes real-time cumulative risks accross worksites based on big data. I was leading a product development team of 7 and we built this product from a concept to MVP. eVision has been acquired and is now part of Wolters Kluwer.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/images/portfolio-barrier1.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  
<section class="page-section-background">
<div class="container py-3" id="hanging-icons">
    <h1 class="fw-bold text-center">Highlights</h1>
    <div class="row g-5 py-5">
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2>Ranked as the best ORM tool (2018)</h2>
          <p>In 2018, Barrier Vision was ranked by Verdantix as the best Operational Risk Management tool based on the usability, functionalities, and clear risk visualizations of the tool. </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2>Partnered with Oil & Gas majors</h2>
          <p>Due to the importance of risk management, Barrier Vision helped safety officers to do their work more effectively. As industry leaders, ExxonMobil, Shell, and BP partnered up with us to deliver the best risk visualization tool. </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h2>Product Owner & Product Manager</h2>
          <p>For the majority of my period at eVision, I worked both as a Product Manager and Product Owner for my team. This work extends from envisioning the roadmap to prioritizing the backlog.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="video-container" >
    <iframe frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/OAa2zF71b7c">
    </iframe> 
</div>
</section>

<section class="page-section-background">
  <div class="content py-5">
    <h1 class="text-center">Interested in my work or what I could do for you?</h1>
    <h2 class="pb-3 text-center">Lets get in touch and leave a message.</h2>
    <div class="container text-center contact-form">
      <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
        <div class="mb-3 text-start">
          <label class="pb-2" for="floatingInput"> Your email address</label>
          <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
        </div>
        <div class="mb-3 text-start">
          <label class="form-label" id="floatingInput">Your message</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
        </div>
        <button class="w-100 btn btn-lg btn-primary page-section-background2" type="submit">Send it!</button>
      </form>
            
</section>

<!-- EJS Footer -->
<%- include("../partials/footerportfolio") -%> 