<!-- EJS Header -->
<head>
  <title>Rico Ngo - Live music platform</title>
</head>
<%- include("../partials/headerportfolio") -%> 

<!-- Main content -->

<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">Live Music Platform</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><a href="https://woov.live/">Woov</a> is a live music platform that enables artists and its audience to party together, but virtually. Origanally, Woov was a live event application, but due to the global pandemic it has evolved to a live music platform and adapted quickly to the new reality. I was responsbile as the Product Lead.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="/images/portfolio-woov.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<section class="page-section-background">
<div class="container py-3" id="hanging-icons">
  <h1 class="fw-bold text-center">Highlights</h1>
  <div class="row g-5 py-5">
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <div>
        <h2>Major artists</h2>
        <p>Artists couldn't perform during the Corona pandemic and Youtube/Twitch streams weren't good enough... With our unique interactive features, we delivered what other platforms couldn't, which was an unique experience for both the artist and its audience. Major artists, such as <a href="https://www.instagram.com/carlcoxofficial/">Carl Cox</a>, joined our team because of that.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
      </div>
      <div>
        <h2>App to Platform</h2>
        <p>Woov had global ambitions to conquer the live event industry with our 1500+ festivals and events by creating a social music event platform. It had over 1+ million users with more on the way. With the unexpected pandemic and cancellation of events, Woov turned into a live music platform within months.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
      </div>
      <div>
        <h2>1+ million users</h2>
        <p>One of the few Dutch social application that managed to get 1+ million users. Over the years Woov has build a steady userbase that connected music lovers all over the globe. The interactive timetable, social community, and find your friend functionalities were our USPs.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="py-5">
  <div class="px-5 video-container" >
    <iframe frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/jAHNgpBLKds">
    </iframe> 
</div>
</section>

<section class="page-section-background">
<div class="content py-5">
  <h1 class="text-center">Interested in my work or what I could do for you?</h1>
  <h2 class="pb-3 text-center">Lets get in touch and leave a message.</h2>
  <div class="container text-center contact-form">
    <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
      <div class="mb-3 text-start">
        <label class="pb-2" for="floatingInput"> Your email address</label>
        <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
      </div>
      <div class="mb-3 text-start">
        <label class="form-label" id="floatingInput">Your message</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
      </div>
      <button class="w-100 btn btn-lg btn-primary page-section-background2" type="submit">Send it!</button>
    </form>
          
</section>

<!-- EJS Footer -->
<%- include("../partials/footerportfolio") -%> 