<!-- EJS Header -->
<%- include("../partials/headerportfolio") -%> 

<!-- Main content -->

<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">Live Music Platform</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Risk bowtie visualizations is a different form of risk management. This was complementary to what Barrier Vision offers. By integrating <a href="https://enablon.com/applications/dynamic-bowtie-software/">CGE's solution</a>, we were able to dynamically update the risk bowtie with live data.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="/images/portfolio-woov2.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<section class="page-section-background">
<div class="container py-3" id="hanging-icons">
  <h1 class="fw-bold text-center">Highlights</h1>
  <div class="row g-5 py-5">
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <div>
        <h2>Major artists</h2>
        <p>The integration provided was unique and provided so much value for CGE and eVision's customer base, that Wolters Kluwer decided to acquire CGE as well. The Barrier Vision team implemented the initial integration.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
      </div>
      <div>
        <h2>App to Platform</h2>
        <p>All of our major customers, ranging from Shell to Total, were interested to adopt this integration as soon as possible. We enabled safety officers to be on top of their risk management with this tool.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
      </div>
      <div>
        <h2>1+ million users</h2>
        <p>Together with a Subject Matter Expert, we gathered input and insights to formulate an effective functional design. We were able to combine a static bowtie with real-time data that was operational.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="py-5">
  <div class="overflow-hidden px-5 video-responsive justify-content-sm-center" >
    <iframe frameborder="0" allowfullscreen class="embed-responsive-item"
    src="https://www.youtube.com/embed/jAHNgpBLKds">
    </iframe> 
</div>
</section>

<section class="page-section-background">
<div class="content py-5">
  <h1 class="text-center">Interested in my work or what I could do for you?</h1>
  <h2 class="pb-3 text-center">Lets get in touch and leave a message.</h2>
  <div class="container text-center contact-form">
    <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
      <div class="mb-3 text-start">
        <label class="pb-2" for="floatingInput"> Your email address</label>
        <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
      </div>
      <div class="mb-3 text-start">
        <label class="form-label" id="floatingInput">Your message</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
      </div>
      <button class="w-100 btn btn-lg btn-primary page-section-background2" type="submit">Send it!</button>
    </form>
          
</section>

<!-- EJS Footer -->
<%- include("../partials/footerportfolio") -%> 