<!-- EJS Header -->
<%- include("../partials/headerportfolio") -%> 

<!-- Main content -->

<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Music right tool</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">By collaborating with <a target="_blank" href="https://djmonitor.com/">DJ Monitor</a>, we could effectively calculate music royalties to be paid to major music right organisations with live streams of our artists. We integrated DJ Monitor's solution onto our platform and with our Adyen integration, we could collect and distribute money to the right parties. A gamechanger in the industry.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/images/portfolio-musicright.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

<section class="page-section-background">
<div class="container py-3" id="hanging-icons">
    <h1 class="fw-bold text-center">Highlights</h1>
    <div class="row g-5 py-5">
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2>Industry gamechanger</h2>
          <p>Artists and other creators couldn't get properly paid with live streaming, as their songs couldn't be properly tracked. Youtube, Facebook, Twitch, etc. didn't bother to violate music rights. With our approach, Woov could support the artists by paying correct royalties to music right organisations </p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2>Calculation method</h2>
          <p>With some help of industry experts, I formulated a calculation method that could be implemented by our development team and it fitted the high standards of different music right organisations. No other streaming platforms implemented this.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h2>Collaboration</h2>
          <p>To make this work, we collaborated with major music right organisations. Ranging from BUMA STEMRA in the Netherlands to PPL in the UK. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content py-5">
    <h1 class="text-center">Interested in my work or what I could do for you?</h1>
    <h2 class="pb-3 text-center">Lets get in touch and leave a message.</h2>
    <div class="container text-center contact-form">
      <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
        <div class="mb-3 text-start">
          <label class="pb-2" for="floatingInput"> Your email address</label>
          <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
        </div>
        <div class="mb-3 text-start">
          <label class="form-label" id="floatingInput">Your message</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
        </div>
        <button class="w-100 btn btn-lg btn-primary page-section-background2" type="submit">Send it!</button>
      </form>
            
</section>


<!-- EJS Footer -->
<%- include("../partials/footerportfolio") -%> 