<!-- EJS Header -->
<%- include("../partials/headerportfolio") -%> 

<!-- Main content -->

<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Self-Service webcast studio</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Current challenge to setup a new self-service concept for our clients, where we focus on our customer's success. Advising & supporting our clients to reach their webcast goals with a scalable webcast studio and services at their own location.</p>
      <p class="fw-bold display-6">Stay tuned for more!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/images/portfolio-selfservice.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

<section>
  <div class="content py-5">
    <h1 class="text-center">Interested in my work or what I could do for you?</h1>
    <h2 class="pb-3 text-center">Lets get in touch and leave a message.</h2>
    <div class="container text-center contact-form">
      <form class="p-5 border rounded-3 bg-light" action="https://formspree.io/f/xzbydwrk" method="POST">
        <div class="mb-3 text-start">
          <label class="pb-2" for="floatingInput"> Your email address</label>
          <input name="_replyto" type="email" class="form-control" id="floatingInput" placeholder="johnwick@continental.com">
        </div>
        <div class="mb-3 text-start">
          <label class="form-label" id="floatingInput">Your message</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="My dog has gone missing. Where can I find my dog?"></textarea>
        </div>
        <button class="w-100 btn btn-lg btn-primary page-section-background2" type="submit">Send it!</button>
      </form>
            
</section>


<!-- EJS Footer -->
<%- include("../partials/footerportfolio") -%> 